# Git
.git
.github
.gitignore

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
**/__pycache__/
.env/
.venv/
venv/

# Node
node_modules/

# Local PostgreSQL data
data/

# Dev/config files
.env
.docker-compose-dev.yml
gs_temp.json
rome.json

# Documentation
docs/
mkdocs.yml
