node_modules/
dokuly/frontend/static/media/**

!dokuly/frontend/static/media/
!dokuly/frontend/static/media/nd_related_images/
!dokuly/frontend/static/media/nd_related_images/**

dokuly/frontend/static/frontend/main.js
dokuly/frontend/static/frontend/index.*
dokuly/frontend/static/frontend/purify.*
dokuly/frontend/static/frontend/ui-*
dokuly/frontend/static/frontend/vendor-*
dokuly/public_page/static/main.js
backendScripts/generateDocument/temp/
*.pyc
venv/
/data
temp/
/temp
django_cache/
dokuly/django_cache/
.DS_Store
.env
database_backup.sql
gs_temp.json
dokuly/frontend/static/frontend/vendors-node_modules_canvg_lib_index_es_js.js
dokuly/frontend/static/frontend/vendors-node_modules_dompurify_dist_purify_js.js
dokuly/frontend/static/frontend/index-*
dokuly/frontend/static/frontend/assets

/backups/*
backups/*
backups


dokuly/frontend/static/frontend/780.js
dokuly/frontend/static/frontend/*.txt
dokuly/frontend/static/frontend/838.js

/media
/media/
/media/*

media/
media
media/*