node_modules/
dokuly/frontend/static/media/**

!dokuly/frontend/static/media/
!dokuly/frontend/static/media/nd_related_images/
!dokuly/frontend/static/media/nd_related_images/**

dokuly/frontend/static/frontend/main.js
dokuly/public_page/static/main.js
backendScripts/generateDocument/temp/
*.pyc
venv/
/data
temp/
/temp
.DS_Store
.env
database_backup.sql
gs_temp.json
dokuly/frontend/static/frontend/vendors-node_modules_canvg_lib_index_es_js.js
dokuly/frontend/static/frontend/vendors-node_modules_dompurify_dist_purify_js.js

/backups/*
backups/*
backups


dokuly/frontend/static/frontend/780.js
dokuly/frontend/static/frontend/*.txt
dokuly/frontend/static/frontend/838.js

/media
/media/
/media/*

media/
media
media/*