<!DOCTYPE html>
<html>
<head>
    <title>Password Recovery</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .header {
            font-size: 24px;
            font-weight: bold;
        }
        .content {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">Password Recovery</div>
        <div class="content">
            <p>Hello {{username}}!</p>
            <p>Someone has requested to reset the password connected to this email account on Dokuly. </p>
            <h6><b>IF THIS WAS NOT YOU OR YOUR ADMINISTRAITVES IGNORE THIS EMAIL</b></h6>
            <p>Username: <strong>{{ username }}</strong> </p>
            <p>Click the button below to reset your password:</p>
            <p>
                <a href="{{ resetLink }}" style="background-color: #165216ff; color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 12px;">
                    Reset Password
                </a>
            </p>
            <p>Best Regards,</p>
            <p>Dokuly Team</p>
        </div>
    </div>
</body>
</html>