name: Build
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]
    services:
      partsdb:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: AAAAmeaIE1elf213fe_fseof302fldAADokulySelfhost
          POSTGRES_DB: DokulyOSS
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5 --mount type=tmpfs,destination=/var/lib/postgresql/data
        ports:
          - 5432:5432
    steps:

      # Setup Python
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python Dependencies
        run: |
          pip3 install --upgrade pip
          pip3 install --upgrade --use-pep517 -r requirements.txt
          pip3 install --upgrade --use-pep517 phpserialize

      - name: Run Django Migrations
        env:
          DB: ${{ matrix.db }}
          DB_HOST: 127.0.0.1
          DB_PORT: ${{ matrix.db_port }}
          DB_PASSWORD: AAAAmeaIE1elf213fe_fseof302fldAADokulySelfhost
          DJANGO_TESTING_SERVER: 1
          d_s_k: "asdofnasdfnasdioufasdioufasdifujnsdfaiun"
        run: python ./dokuly/manage.py migrate

      - name: Run Django Tests
        env:
          DB_HOST: 127.0.0.1
          DB_PORT: 5432
          DB_PASSWORD: AAAAmeaIE1elf213fe_fseof302fldAADokulySelfhost
          DJANGO_TESTING_SERVER: 1
          d_s_k: "asdofnasdfnasdioufasdioufasdifujnsdfaiun"
        run: python ./dokuly/manage.py test profiles.tests

  build_frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build frontend
        run: bun run build